<%= highlight_menu_link "menu_link_about" %>

<script>
function ajax_load_subitem(url)
{
	$('#info_container').load(url);
}
</script>

<%= major_block("Über uns") do %>
	<ul>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=what_is_suku');" class="submenu_link">Was ist der Subkultur e.V.?</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=opening');" class="submenu_link">&Ouml;ffnungszeiten</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=address');" class="submenu_link">Kontaktadresse</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=management');" class="submenu_link">Vorst&auml;nde und Beir&auml;te - Aufgabenverteilung</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=articles');" class="submenu_link">Vereinssatzung</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=join');" class="submenu_link">Mitglieder, warum und wie selbst Mitglied werden?</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=tech');" class="submenu_link">Technik-, Venue-Info</a></li>
		<li><a href="javascript:ajax_load_subitem('/StaticPages?id=about&subid_ajax=disclaimer');" class="submenu_link">Disclaimer</a></li>
	</ul>
<% end %>

<div class="container" id="info_container">
	<% if params[:subid] then %>
		<%= render :partial => "static_pages/about_information_partials/#{params[:subid]}" %>
	<% end %>
</div>
