<%= highlight_menu_link "menu_link_about" %>

<div class="block_wrapper">
	<div class="block_headline">
		<span class="block_title">Was ist der Subkultur e.V.?</span>
		<div class="float_clear"></div>
	</div>
	<div class="block_text">
		<p>Die Musikinitiative Subkultur e.V. ist ein eingetragener Verein, der sich seit mehreren Jahren für die Belange von Musikern und Musikinteressierten einsetzt. Es werden vom Verein auch andere Kultursparten unterstützt, wie Kleinkunst, Theater und Film. Subkultur e.V. ist dem Dachverband des Arbeitskreises Bayrischer Musikinitiativen (ABMI) angeschlossen.</p>
		<p>Subkultur e.V. veranstaltet regelmäßig Konzertreihen im Alten Schlachthof in Fürstenfeldbruck. Neben Großveranstaltungen wie Open Air Konzerten werden auch CD-Produktionen von Subkultur e.V. ermöglicht, wobei den Musikgruppen aus der Region ein Forum geschaffen wird. Somit erfüllt Subkultur e.V. einen wichtigen Teil der Jugend- und Kulturarbeit im Raum Fürstenfeldbruck. </p>
	</div>
</div>
