<%= major_block("Kontaktadresse") do %>
	<strong>Subkultur e.V.</strong><br /><br />
	
	Auf der Lände 7<br />
	82256 Fürstenfeldbruck<br />
	Tel. 08141 / 15920<br />
	<a href="/">www.subkultur-ffb.de</a>
<% end %>
