<%= major_block("Vereinssatzung") do %>
	<p>
		<h2>§ 1 Name und Sitz des Vereins:</h2>
		<p>
			Der Verein führt den Namen "Subkultur e.V.". Er hat seinen Sitz in Fürstenfeldbruck und ist im dortigen Vereinsregister eingetragen. Er erstreckt seine Tätigkeit auf den ganzen Landkreis Fürstenfeldbruck.
		</p>
		<h2>§ 2 Vereinszweck:</h2>
		<p>
			Der Verein Subkultur hat sich zum Ziel gesetzt, die Kulturszene im Landkreis Fürstenfeldbruck insbesonders die Jugendkultur- und Bandszene zu fördern. Der Satzungszweck kann u.a. durch folgende Maßnahmen verwirklicht werden:
		</p>
		<p class="emph">
			Schaffung von Auftrittsmöglichkeiten für Musikgruppen durch Veranstaltung von Konzerten und anderen Aktionen<br />
			Publikation eines Infoblattes<br />
			Organisation von Fortbidungsveranstaltungen im musikalischen Bereich<br />
			Mitwirkung bei der Schaffung von Proberäumen
		</p>
		<p>
			Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnittes "Steuerbegünstigte Zwecke" der Abgabenordnung. Der Verein ist selbstlos tätig und verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.<br />
			Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden. Die Mitglieder des Vereins erhalten keinerlei Gewinnanteile und in ihrer Eigenschaft als Mitglieder des Vereins keine sonstigen Zuwendungen aus dem Vereinsvermögen. Bei Auflösung des Vereins oder Wegfall seines bisherigen Zwecks fällt das Vermögen des Vereins an den Kreisjugendring FFB des Bayerischen Jugendrings K.d.ö.R.<br />
			Alle Inhaber von Vereinsämtern sind ehrenamtlich tätig. Jeder Beschluß über die Änderung der Satzung ist vor dessen Anmeldung beim Registergericht dem zuständigen Finanzamt vorzulegen.
		</p>
		<h2>§ 3 Mitgliedschaft:</h2>
		<p>
			Mitglied im Verein kann auf Antrag jede natürliche und juristische Person werden. Über den Antrag entscheidet die Vorstandschaft. Der Austritt aus dem Verein ist jederzeit zulässig. Er erfolgt durch schriftliche Erklärung gegenüber dem Vorstand. Ein Mitglied kann aus dem Verein ausgeschlossen werden, wenn sein Verhalten in grober Weise gegen die Interessen des Vereins verstößt. Über den Ausschluß entscheidet die Mitgliederversammlung mit Dreiviertel-Mehrheit der Stimmen.
		</p>
		<h2>§ 4 Mitgliederversammlung:</h2>
		<p>
			 Die Mitgliederversammlung hat folgende Aufgaben:
		</p>
		<p class="emph">
			a) sie nimmt den Rechenschaftsbericht des Vorstandes entgegen<br />
			b) sie nimmt den Kassenbericht entgegen<br />
			c) sie nimmt den Bericht der Kassenprüfer entgegen<br />
			d) sie entscheidet über die Entlastung des Vorstandes<br />
			e) sie wählt und bestellt einen neuen Vorstand und einen neuen Beirat<br />
			f) sie setzt die Höhe des Aufnahmebeitrages und des Mitgliederbeitrages fest<br />
			g) sie wählt einen Kassenprüfer und einen Ersatzprüfer<br />
			h) sie entscheidet über Satzungsänderungen<br />
			i) sie faßt Beschluß über sonstige, auf der Tagesordnung stehende Anträge<br />
			j) sie faßt Beschluß über die Auflösung des Vereins<br />
		</p>
		<p>
			Die Beträge über die der Vorstand, bzw. die Vorstandschaft verfügen können, sind von der Mitgliederversammlung festzulegen. Bei höheren Beträgen ist die Zustimmung der Mitgliederversammlung einzuholen. 
		</p>
		<p>
			Die Mitgliederversammlung tritt einmal jährlich, möglichst im letzten Quartal zusammen. Sie wird vom Vorstand unter Einhaltung einer Frist von zwei Wochen schriftlich unter Angabe der Tagesordnung einberufen. Mtglieder können bis mindestens eine Woche vor der Versammlung beim 1. Vorsitzenden Anträge zur Tagesordnung der Mitgliederversammlung einreichen. Jedes Mitglied hat eine Stimme. Beschlüsse in der Mitgliederversammlung werden mit einfacher Mehrheit der erschienenen Mitglieder gefaßt. Enthaltungen sind nicht mitzuzählen. Satzungsänderungen können nur durch Zustimmung von dreiviertel der anwesenden Mitglieder herbeigeführt werden.<br />
			Über den Verlauf der Mitgliederverammlung ist ein Protokoll anzufertigen, das vom Versammlungsleiter und vom Protokollführer zu unterschreiben ist. Auf Antrag von mindestens der Hälfte der Mitglieder oder falls es nach Ansicht des Vorstandes ein besonderes Interesse des Vereins erfordert, muß der Vorstand eine außerordentliche Mitgliederversammlung einberufen. 
		</p>
		<h2>§ 5 Vorstandschaft:</h2>
		<p>
			 Organe des Vereins sind:
		</p>
		<p class="emph">
			a) die Mitgliederversammlung<br />
			b) der Vorstand<br />
			c) die Vorstandschaft
		</p>
		<p>
			Der Vorstand besteht aus dem/ der 1. Vorsitzenden sowie zwei weiteren Vorstandsmitgliedern. Der Vorstand sorgt für die Umsetzung der Vereinsbeschlüsse und verwaltet das Vereinsvermögen im Sinne des Vereinszweckes. Der Vorstand ist Vorstand im Sinne des § 26 BGB. Die Vorstands-mitglieder sind jeweils allein vertretungsberechtigt. Im Innenverhältnis wird jedoch bestimmt, daß die Stellvertreter nur in Abwesenheit des ersten Vorsitzenden allein vertretungsberechtigt sind.<br />
			Die Vorstandschaft besteht aus dem vorgenannten Vorstand sowie einem Beirat mit weiteren zehn Mitgliedern.<br />
			Der Beirat hat die Aufgabe den Vorstand in allen wichtigen Vereinsangelegenheiten zu beraten. Er tagt zusammen mit dem Vorstand. Der Vorstand sowie die Vorstandschaft werden von der Mitgliederversammlung für die Dauer eines Jahres gewählt und bleiben solange im Amt bis ein neuer Vorstand ordnungsgemäß gewählt wurde. Die Vorstandschaft wird vom Vorsitzenden einberufen. Die Vorstandschaft ist beschlußfähig, wenn mindestens sieben der dreizehn Mitglieder anwesend sind. Sie faßt ihre Beschlüsse mit einfacher Mehrheit der anwesenden Vorstandsmitglieder. Über den Verlauf der Vorstandssitzung ist ein Protokoll anzufertigen, das vom Protokollführer und vom/ von der Vereinsvorsitzenden unterschrieben werden muß. Im Falle des Rücktritts eines Vorstandes oder Beiratsmitgliedes arbeitet die Vorstandschaft mit entsprechend verringerter Mitgliederzahl bis zur nächsten Mitgliederversammlung weiter. Die Beschlußfähigkeit ergibt sich dann bei Anwesenheit von mindestens der Hälfte der Mitglieder der Vorstandschaft. 
		</p>
		<h2>§ 6 Mitgliedsbeiträge:</h2>
		<p>
			Von den Vereinsmitgliedern werden Beiträge erhoben. Über die Höhe und die Fälligkeit entscheidet die Mitgliederversammlung. 
		</p>
		<h2>§ 7 Auflösung des Vereins:</h2>
		<p>
			Die Auflösung des Vereins kann nur in einer außerordentlichen Mitgliederversammlung mit einer satzungsändernden Mehrheit beschlossen werden. Sofern die Mitgliederversammlung nichts anderes beschließt, ist der/ die Vorsitznde Liquidator.
		</p>
		<p>
			Die vorstehende Satzung wurde in der Mitgliederversammlung vom 16.12.2007 als geänderte Satzung beschlossen. 
		</p>
	</p>
<% end %>
