<%= major_block("Mitglieder, warum und wie selbst Mitglied werden?") do %>
	<h2>Für 28 EUR, alle Subkultur Konzerte umsonst genießen!</h2>
	<p>
		28 EUR ist der jährliche Mitgliedsbeitrag, der in zwei Teilraten zu 14 EUR halbjährlich eingezogen wird. Dieser Beitrag bildet im wesentlichen unsere Finanzierungsgrundlage.<br />
		Wer sich kreativ in unserem Verein beteiligen will, muss zu erst Mitglied werden, und kann sich dann bei den Jahreshauptversammlungen zum Vorstand oder Beirat wählen lassen.<br />
		Um selbst Mitglied im Subkultur e.V. zu werden, einfach die Beitrittserklärung downloaden (rechter Mausklick auf den Link, Ziel speichern unter, dein Computer) und ausgefüllt und unterschrieben an uns schicken oder zur nächsten Veranstaltung mitbringen...es lohnt sich! 
	</p>
	<p>
		Beitrittserklärung als <a href="javascript:newWindow('/pdf/mitgliedsantrag.pdf');">PDF</a>
	</p>
<% end %>
