<%= major_block("Vorstände und Beiräte - Aufgabenverteilung") do %>
	<p>
		<h2>Vorstände</h2>
		<p class="indent">
			Christian Albrecht (<a href="mailto:christian.albrecht@subkultur-ffb.de" class="email">email</a>)<br />
		</p>
	</p>
<% end %>
