<%= major_block("Öffnungszeiten") do %>
	<p>
		Das Büro ist zu unregelmäßigen Zeiten besetzt, am häufigsten während <a href="/Events">Veranstaltungen.</a><br />
		Mut zum Anrufbeantworter - wir rufen zurück!<br />
		Regelmäßige Öffnungszeiten gibt es nur während einer <a href="/Events">Veranstaltungs-Reihe</a>. Dann ist der Alte Schlachthof samstags ab 20.30 Uhr geöffnet.
	</p>
<% end %>
