<%= major_block("Technik-, Venue-Info") do %>
	<h2>Alter Schlachthof – Sound – JAN 2011</h2>
	<p>
		<table class="structuretable">
			<tr class="structuretable">
				<td class="structuretable">
					FOH-SYSTEM:
				</td>
				<td class="structuretable">
					2x EV T-252 (2x 15“ / 2“)<br />
					1x EV RX218 (2x 18“)
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					FOH-AMPING:
				</td>
				<td class="structuretable">
					1x EV P2000 (TOPS)<br />
					1x EV P1201 (SUB)<br />
					1x EV DC-ONE Digital-Controller (2 In / 6 Out)
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					DESK:
				</td>
				<td class="structuretable">
					Soundcraft LX7 – 24 Channels<br />
					24 Mono + 2 Stereo<br />
					6 Aux Sends (4x switchable Pre / Post – 2x fixed Post)<br />
					4 Audio Groups
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					MULTICORE:
				</td>
				<td class="structuretable">
					22 Channel Send<br />
					6 Channel Return
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					SIDERACK:
				</td>
				<td class="structuretable">
					2x Yamaha 2031b– Stereo Graphic EQ<br />
					1x Klark Teknik DN-514 – Quad Gate (= 4 Channels total)<br />
					2x dbx 166XL – Dual Comp (=2 Channels total)<br />
					1x TC Electronic M-One – Multi-FX (2 Engines)
					1x CD-Player
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					MONITOR:
				</td>
				<td class="structuretable">
				 	4x Dynacord C15M (15“ / 1“)<br />
					1x Crown K2
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					MICS / DI:
				</td>
				<td class="structuretable">
					5x Shure SM-58<br />
					5x Shure SM-57<br />
					1x Shure Beta 52A<br />
					1x Sennheiser e602<br />
					4x Sennheiser e604<br />
					2x AKG C391b<br />
					6x DI passive<br />
					2x DI active
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					MISC:
				</td>
				<td class="structuretable">
					K&M Mic-Stands<br />
					XLR-Cables<br />
					German Power-Cables and Distributions
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					POWER:
				</td>
				<td class="structuretable">
					1x 16 A CEKON RED (3 Phase) – Local Sound
				</td>
			</tr>
		</table>
	</p>
	<h2>Alter Schlachthof – Light – JAN 2011</h2>
	<p>
		<table class="structuretable">
			<tr class="structuretable">
				<td class="structuretable">
					DESK:
				</td>
				<td class="structuretable">
					1x Martin 2406 DMX-Controller
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					MULTICORE:
				</td>
				<td class="structuretable">
					1x XLR3 (STAGE LEFT)
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					DIMMER:
				</td>
				<td class="structuretable">
					1x Arena 1202 Dimmer 12x 2,3 kW
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					BACKTRUSS:
				</td>
				<td class="structuretable">
					2x 6Bar PAR64, 500W Raylight
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					FRONTTRUSS:
				</td>
				<td class="structuretable">
					6x PAR56, 300W, Flood
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					AMBIENCE / DISCO:
				</td>
				<td class="structuretable">
					4x PAR56, 300W Flood<br/>
					10x PAR30, 75W Spot<br/>
					1x Mirror Ball 30cm incl. Pin-Spot<br/>
					1x Disco-Laser
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					POWER:
				</td>
				<td class="structuretable">
				 	1x 32 A CEKON RED (3 Phase) – Local Light (Stage)<br/>
					1x 16 A CEKON RED (3 Phase) – Local Light (Ambient)<br/>
					1x 16 A CEKON RED (3 Phase) – Production (STAGE LEFT, 10m)
				</td>
			</tr>
			<tr class="structuretable">
				<td class="structuretable">
					STAGE:
				</td>
				<td class="structuretable">
					Width: 4,00 m – 6,00 m<br/>
					Depth: 4,00 m<br/>
					Height: 0,80 m (measured from Audience Ground)<br/>
					Clearence: 2,50m (measured from Stage)<br/>
					Loading: 5,00m (no Steps)
				</td>
			</tr>
		</table>
	</p>
<% end %>
