<%= major_block("Was ist der Subkultur e.V.?") do %>
	<p>Die Musikinitiative <strong>Subkultur e.V.</strong> ist ein eingetragener Verein, der sich seit mehreren Jahren für die Belange von Musikern und Musikinteressierten einsetzt. Es werden vom Verein auch andere Kultursparten unterstützt, wie Kleinkunst, Theater und Film. <strong>Subkultur e.V.</strong> ist dem Dachverband des Arbeitskreises Bayrischer Musikinitiativen (ABMI) angeschlossen.</p>
	<p><strong>Subkultur e.V.</strong> veranstaltet regelmäßig Konzertreihen im Alten Schlachthof in Fürstenfeldbruck. Neben Großveranstaltungen wie Open Air Konzerten werden auch CD-Produktionen von <strong>Subkultur e.V.</strong> ermöglicht, wobei den Musikgruppen aus der Region ein Forum geschaffen wird. Somit erfüllt <strong>Subkultur e.V.</strong> einen wichtigen Teil der Jugend- und Kulturarbeit im Raum Fürstenfeldbruck. </p>
<% end %>
