/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
}

.global_wrapper {
	padding: 0.5em;
}


.global_header {
	height: 10em;
	padding: 1em;
	text-align: center;
	border-bottom: thick solid #EFEFEF;
}

.header_logo {
	padding: 0 0 0 2em;
	float: left;
}

.header_text {
	padding: 0 2em 0 0;
	float: right;
	text-align: right;
}

.global_menu {
	padding: 1em 0.5em 0.5em 0.5em;
	width: 20%;
	float: left;
	text-align: right;
}

.global_content {
	padding: 0.5em;
	width: 70%;
	float: left;
}

.global_footer {
	padding: 1em 0.5em 0.5em 0.5em;
	width: 100%;
	text-align: center;
}

.float_clear {
	clear: both;
}

a.menu_link {
	color: #000000;
	font-size: 2em;
	text-decoration: none;
}
a.menu_link:hover {
	color: #cccc00;
	text-decoration: none;
}
a.menu_link_page_active {
	color: #cccc00;
	font-size: 2em;
	text-decoration: none;
}
a.menu_link_page_active:hover {
	text-decoration: none;
}

a.submenu_link {
	color: #0000FF;
	text-decoration: none;
}
a.submenu_link:hover {
	text-decoration: underline;
}

a {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	margin: 0 0 1em 0;
}
h2 {
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 1em 0;
}

div.highlight_menu_link {
	display: none;
}

.major_block_wrapper {
  margin: 0 0 2em 0;
}

.major_block_headline {
  padding: 0.2em 0.5em 0.2em 0.5em;
  background-color: #EFEFEF;
}

.major_block_title {
  color: #640096;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}

.major_block_date {
  color: #FFAF00;
  font-size: 1.2em;
  float: right;
}

.major_block_text {
  padding: 0.5em 0.5em 0.5em 1em;
}

.multipage_select_line {
	font-size: 1em;
	text-align: center;
}

.multipage_select_current_page {
	font-weight: bold;
}

.container {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
}
.indent {
	padding: 0 0 0 1em;
}
.emph {
	font-style: italic;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 2em;
}

strong {
	font-weight: bold;
}

table.structuretable {
	border: 0px;
}
td.structuretable {
	vertical-align: top;
}
