/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
}

.wrapper {
	border-width: 1px;
	border-style: solid;
}

.menu {
	width: 200px;
	float: left;
	border-width: 1px;
	border-style: solid;
	text-align: right;
}

.content {
	float: left;
	border-width: 1px;
	border-style: solid;
}

.footer {
	clear: both;
}

a.menu_link:link {
	color: #000000;
	font-size: 24px;
	text-decoration: none;
}
a.menu_link:visited {
	color: #0033cc;
	font-size: 24px;
	text-decoration: none;
}
a.menu_link:active {
	color: #000000;
	font-size: 24px;
	text-decoration: none;
}
a.menu_link:hover {
	color: #cccc00;
	font-size: 24px;
	text-decoration: none;
}
